<!--Creates house animation surrounding the Sign up fields*/-->
<%= render 'layouts/houseSVG' %>

<div id = "signupWrapper">
    <!--Sign up box-->   
    <div class="box">
        <!--Go back icon-->    
        <div class="iconBack col-md-5" style="margin-top: 2%; margin-left:.5%">
           <a href="/access/landing" style="color:white;"><span style="font-size: 30px;" class="glyphicon glyphicon-circle-arrow-left"></span></a>
        </div>
        
        <!--Sign up Form-->   
        <h2 style="color:white; margin-top: 3%">Sign Up</h2>
            <%= form_for :people, :url => {:action => "create"}, validate: true do |f| %>
                <div class="signupForm">
                    <%= render(:partial => 'signup_form', :locals => {:f => f}) %>
                        <div class="row" style="margin-left: 40%; margin-top: 3%">
                            <%= button_tag(type: 'submit', class: "submitBtn btn btn-primary") do %>
                                <span class="glyphicon glyphicon-ok"></span> 
                            <% end %>
                    <% end %>
                        </div>
                </div>
    </div>
</div>
