<!-- Log in view. User is prompted for username and password upon log in-->

<!--Creates house animation surrounding the log in fields*/-->
<%= render 'layouts/houseSVG' %>

<div id="signupWrapper">
    <!--Log in box-->
    <div class="box">
        <!--Go back button-->
        <div class="col-md-5">
            <a href="/access/landing" style="color:white;"><span style="font-size: 30px; margin-top: 5%;" class="glyphicon glyphicon-circle-arrow-left"></span></a>
        </div>
        
        <!--Log in Form-->
        <h2 style="color:white; margin-top: 5%">Login</h2>
        <%= form_tag(access_attempt_login_path, :class => 'regForm', :method => :post) do |f| %>
            <%= render(:partial => 'login_form', :locals => {:f => f}) %>
            <!--Log in Button-->
                <%= button_tag(type: 'submit',value: "submit", class: "submitBtn btn btn-primary", style: "margin-left: 55%; margin-top: 5%") do %>
                    <span class="glyphicon glyphicon-ok"></span> <% end %>
        <% end %>
    </div>
</div>