<!-- Added in header and horizontal menu -->
<div id="header">
    <div id="logo">
        <div id="logo_text">
          <h1><a href="/chores">ménage</a></h1>
          <h2>an easy way to divide chores</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
          <li><a href="/chores">Home</a></li>
          <li><a href="/chores">Chores</a></li>
          <li><a href="#">Household</a></li>
          <li><a href="/person">Person</a></li>
          <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div id="page_content">
</div>