// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#access_logo {
    
}




.landing {
    width: 100%;
	background-color: black;
	color: white;
	font: normal .80em 'trebuchet ms', arial, sans-serif;
}

#title h1{
	
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

div {
	display:block;
}

#title {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.btn {
    background-color: black;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}

.btn-primary.active {
    color: white;
    font-weight: bold;
}

#button1 {
    display:flex;
    justify-content: center;
    align-items: center;
}

#button2 {
    display:flex;
    justify-content: center;
    align-items: center;
}

#button1 a:hover, #button2 a:hover {
    font-weight: bold;
}
#button1, #button2 {
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}