// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Styles specific to unique access pages; landing, sign up and login each have very different
and individual structure compared to rest of site */

.jumbotron {
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#signupWrapper .accessInput {
    width: 50%;
}
.landing {
  width: 100%;
	background-color: black;
	color: white;
	font: normal .80em 'trebuchet ms', arial, sans-serif;
}


/* Delayed fade in animation on landing page */
#title h1{
	
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

div {
	display:block;
}


#title {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.btn {
    background-color: none;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}

.btn-primary.active {
    color: white;
    font-weight: bold;
}

#button1 {
    display:flex;
    justify-content: center;
    align-items: center;
}

#button2 {
    display:flex;
    justify-content: center;
    align-items: center;
}

#button1 a:hover, #button2 a:hover {
    font-weight: bold;
}
#button1, #button2 {
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}


/* Styles for house animation on signup or login pages */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

svg {
  margin-left:26%;
  margin-top: 5%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.house {
  stroke-dasharray: 2326;
  stroke-dashoffset: -2326;
  transition: all 0.2s ease-in-out;
  animation-direction: alternate;
  animation: draw-house 10s infinite;
  animation-play-state: running;
}
.window {
  stroke-dasharray: 369;
  stroke-dashoffset: -369;
  transition: all 0.2s ease-in-out;
  animation-direction: alternate;
  animation: draw-window 10s infinite;
  animation-play-state: running;
}

@keyframes draw-house {
  0% {
    stroke-dashoffset: -2326;
    fill:transparent;
  }
  50% {
    stroke-dashoffset: 0;
    fill:transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill:#FFFCF2;
  }
}

@keyframes draw-window {
  0% {
    stroke-dashoffset: -360;
    fill:transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill:transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill:#FFFCF2;
  }
}

