#peopleWrapper .card-inverse {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    margin: auto;
    margin-bottom: 10%;
    border: 2px solid white; 
    
}
.glyphicon .glyphicon-envelope{
    margin-bottom: 5%;
    margin-right: 5%;
}