/* general stylings for site - break this file into 
separate stylesheets for ease of access later? */
/* some stylings andformatting pulled from 
https://www.html5webtemplates.co.uk/templates.html */

html{
	height: 100%;
	font-size: 100%;
	background: -webkit-linear-gradient(to right, #1F273D, #3C4F76, #1F273D);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #1F273D, #3C4F76, #1F273D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background: -webkit-linear-gradient(to bottom, #1F273D);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to bottom, #1F273D, #3C4F76, #1F273D);
 
}


body {
	font: normal .80em 'trebuchet ms', arial, sans-serif;
	background-color: rgb(31,39,61);
	padding-bottom: 20%;
	background: -webkit-linear-gradient(to right, #1F273D, #3C4F76, #1F273D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F273D, #3C4F76, #1F273D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background: -webkit-linear-gradient(to bottom, #1F273D);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to bottom, #1F273D, #3C4F76, #1F273D);
	margin-bottom: 30%;
}

p {
	padding: 0 0 20px 0;
	line-height: 1.7em;
}

img {
	border: 0;
}

h1, h2, h3 {
	font: normal 175% 'century gothic', arial, sans-serif;
	color: #FFFCF2;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
}

a, a:hover {
	outline: none;
	text-decoration: underline;
	color: #FFFCF2;
}

a:hover {
	text-decoration: none;
}



blockquote {
	margin: 20px 0; 
	padding: 10px 20px 0 20px;
	border: 1px solid #E5E5DB;
	background: #FFF;
}

ul {
	margin: 2px 0 22px 17px;
}

ul li {
	list-style-type: circle;
	margin: 0 0 6px 0; 
	padding: 0 0 4px 5px;
}

ol {
	margin: 8px 0 22px 20px;
}

ol li {
	margin: 0 0 11px 0;
}

#logo, #menubar, #site_content, #footer {
	margin-left: auto; 
	margin-right: auto;
	background: #BDD4E7;
}



#logo {
	width: 898px;
	position: relative;
	height: 148px;
	border-bottom: 2px solid #FFF;
}

#logo #logo_text {
	position: absolute; 
	top: 20px;
	left: 0;
}

#logo h1, #logo h2 {
	font: normal 300% 'century gothic', arial, sans-serif;
	border-bottom: 0;
	text-transform: none;
	margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
	padding: 22px 0 0 0;
	color: #FFF;
	letter-spacing: -1px;
	text-decoration: none;
}


#logo_text h2 {
	font-size: 100%;
	padding: 4px 0 0 0;
	color: #FFF;
}

#menubar {
	width: 1000px;
	height: 52px;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.2);
} 

#menu, #menu li {
	float: left;
	margin: 0; 
	padding: 0;
	
}

#menu li {
	list-style: none;
}

#menu li a {
	letter-spacing: 0.1em;
	font: normal 100% arial, sans-serif;
	display: block; 
	float: left; 
	margin: 10px 0 0 10px;
	padding: 9px 26px 6px 26px;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
} 

#menu li a:hover {
    color: #FFF;
    background-color: #B1B695;
}





#page_content {
	width: 1000px;
	overflow: hidden;
	margin: auto;
	padding: 0 24px 20px 20px;
	
} 


table {
	margin: auto;
}



table tr th, table tr td {
	color: white;
	padding: 7px 4px;
	text-align: left;
}

table thead {  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(left, #eef2f3, #8e9eab);*/
	/*background: -moz-linear-gradient(left, #eef2f3, #8e9eab);*/
	/*background: -o-linear-gradient(left, #eef2f3, #8e9eab);*/
/*	background: linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*opacity: .5;*/

	

}
  
table tr td {
	color: white;
	border-top: 1px solid #FFF;
	
}
table th {
	background: rgba(255,255,255,.2);
	height: 15%;
}

#tableWrapper {
	display: inline-block;
}
#tableWrapper tbody {
    display:block;
    height:400px;
    overflow:auto;
}
#tableWrapper thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
#tableWrapper thead {
    width: 100%
    
}

#tableWrapper a {
	color: white;
}
#tableWrapper tr:hover td {
    background: #3C4F76;
}
.nav .active {
    color:            #F8F8F8;

}

.nav-item {
	letter-spacing: 0.1em;
	font: normal 100% arial, sans-serif;
	display: block; 
	float: left; 
	margin: 10px 0 0 10px;
	padding: 9px 26px 6px 26px;
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
} 
#header ul li:active a{
	background:#000; color:#FFF;
}
table th {
	background: rgba(255,255,255,.3);
}