#signupWrapper{
    height: 100%;
    margin-top: 15%;
}
#signupWrapper .custom-control{
    width: 50%;
    line-height: 1;
    height: 34px;
    margin-top: 0px;
    margin-left: 23%;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    font-size: 16px;
    background: none;
    border-bottom: .5px solid white; 
    color: white;
    
}

#signupWrapper .btn {
    width: 50%;
    margin-left: 25%;
    margin-top: 5px;
    background: #EECF6D;
    line-height: 1.428571429;
    height: 34px;
    border-radius: 0px;
}

.box {
    width: 50%;
    height: 350px;
    margin-left: 25%;
    background-color: none;
    border: none;
    margin-bottom: 50%;
}
.signupForm {
    margin-bottom: 20%;
}

#page_content {
    display: hidden;
}

#signupWrapper .btn {
    width: 15%;
}

#loginInput {
    width: 50%;
    line-height: 34px;
    margin-top: 0px;
    margin-left: 25%;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    font-size: 16px;
    background: none;
    border-bottom: .5px solid white; 
    color: white;
}