<div class="header">
  <div class="container">
    <h1>Chore</h1>
  </div>
</div>

<div class="create">
  <div class="container">
    
    <!-- Your code here -->
    <%= form_for(@chore) do |f| %>  
    <%= render(:partial => 'chore_form', :locals => {:f => f}) %>
  <div class="actions"> 
    <%= f.submit "Create" %> 
  </div> 
<% end %>
    
  </div>
</div>

