<div id="page_content">

<h2 style="text-align: center"> Details about <%= @households.name %> </h2>

<div class='people_info'>
<h3> People</h3>
<% people = people_of_any_household(@households) %> 
<% people.each do |p| %>
 <li><%= p.first_name%> <%= p.last_name%></li>
<% end %>
</div>


<br>
<br>
<br>
<br>
<br>

<div id="linkback">
<%= link_to 'Back to house list', households_path %>
</div>
</div>
