<div id="page_content">


<h2> Details about <%= @household.name %> </h2>
 <ul>
  <li>Time Created:</li>
      <li><%= @household.created_at %></li>
</ul>

<%= link_to 'Back to house list', households_path %>
</div>
